.elementor-282 .elementor-element.elementor-element-1816184>.elementor-container{
    min-height:0px
}
.elementor-282 .elementor-element.elementor-element-1816184>.elementor-container:after{
    content:"";
    min-height:inherit
}
.elementor-282 .elementor-element.elementor-element-1816184:not(.elementor-motion-effects-element-type-background),.elementor-282 .elementor-element.elementor-element-1816184>.elementor-motion-effects-container>.elementor-motion-effects-layer{
    background-color:#fff
}
.elementor-282 .elementor-element.elementor-element-1816184{
    transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top:0;margin-bottom:-2px;
    padding:0;
}
.elementor-282 .elementor-element.elementor-element-1816184>.elementor-background-overlay{
    transition:background .3s,border-radius .3s,opacity .3s;
}
.elementor-282 .elementor-element.elementor-element-8bdf1dd>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
    margin-bottom:0;
}
.elementor-282 .elementor-element.elementor-element-8bdf1dd:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,.elementor-282 .elementor-element.elementor-element-8bdf1dd>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer{
    background-color:#034ea2;
}
.elementor-282 .elementor-element.elementor-element-8bdf1dd>.elementor-element-populated{
    transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;margin:0;
}
.elementor-282 .elementor-element.elementor-element-8bdf1dd>.elementor-element-populated>.elementor-background-overlay{
    transition:background .3s,border-radius .3s,opacity .3s
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-repeater-item-15c7c1b .swiper-slide-bg{
    background-color:#063f81;
    background-image:url("https://img.freepik.com/free-photo/young-man-taxi-driver-with-gloves-sitting-driver-s-seat-car_289152-76.jpg?w=826");
    background-size:cover;
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-repeater-item-15c7c1b .elementor-background-overlay{
    background-color:rgba(0,0,0,.4);
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-repeater-item-7694813 .swiper-slide-bg{
    background-color:#063f81;
    background-image:url("https://img.freepik.com/free-photo/handsome-elegant-man-car-salon_1157-30191.jpg?t=st=1656340261~exp=1656340861~hmac=80193f48994e406809adc71cc1fe35461299aad4f6238288228a45fc87bf3f88&w=826");background-size:cover;
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-repeater-item-7694813 .elementor-background-overlay{
    background-color:rgba(0,0,0,.4);
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-repeater-item-d6e3231 .swiper-slide-bg{
    background-color:#063f81;
    background-image:url("https://img.freepik.com/free-photo/modern-car-automobile-background-street-close-up-side-illustration-3d-render_37416-226.jpg?w=826");background-size:cover;
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-repeater-item-d6e3231 .elementor-background-overlay{
    background-color:rgba(0,0,0,.4);
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-repeater-item-9461144 .swiper-slide-bg{
    background-color:#063f81;
    background-image:url("https://img.freepik.com/free-photo/car-with-sport-modern-design-parked-road_33867-7.jpg?w=900");background-size:cover;
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-repeater-item-9461144 .elementor-background-overlay{
    background-color:rgba(0,0,0,.49);
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-repeater-item-0222b1d .swiper-slide-bg{
    background-color:#063f81;
    background-image:url("https://img.freepik.com/free-photo/bangkok-thailand-july-1-2021-holding-iphone-toyota-sienta-car-communication-with-family-friends_39768-5331.jpg?w=826"); 
    background-size:cover;
}.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-repeater-item-0222b1d .elementor-background-overlay{
    background-color:rgba(0,0,0,.4);
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-repeater-item-caf2f17 .swiper-slide-bg{
    background-color:#063f81;
    background-image:url("https://img.freepik.com/free-photo/blue-sport-sedan-parked-yard_114579-5078.jpg?t=st=1656338676~exp=1656339276~hmac=cfee692aded703a212dfefaad00eaae284ac6ae5685e6093a58f58c06b61c0c9&w=826");background-size:cover;
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-repeater-item-caf2f17 .elementor-background-overlay{
    background-color:rgba(0,0,0,.4);
}
.elementor-282 .elementor-element.elementor-element-afdd547 .swiper-slide{
    height:650px;
    transition-duration:calc(6.5s*1.2);
}
.elementor-282 .elementor-element.elementor-element-afdd547 .swiper-slide-contents{
    max-width:55%;
}
.elementor-282 .elementor-element.elementor-element-afdd547 .swiper-slide-inner{
    padding:0 13% 0 16%;
    text-align:left;
}
.elementor-282 .elementor-element.elementor-element-afdd547 .swiper-slide-inner .elementor-slide-heading:not(:last-child){
    margin-bottom:20px;
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-slide-heading{
    font-family:"Proxima Nova",Sans-serif;
    font-size:65px;
    font-weight:600;
    text-transform:capitalize;
    line-height:1em;
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-slide-description{
    font-family:"Proxima Nova",Sans-serif;
    font-size:22px;
    font-weight:400;
    line-height:1.5em;
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-slide-button{
    font-family:"Libre Franklin",Sans-serif;
    font-size:11px;text-transform:uppercase;
    letter-spacing:1px;
    border-width:0;
    border-radius:0.8rem;
    color:#fff;
    background-color:transparent;
    border: 2px solid #000;
}
.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-slide-button:hover{
    color:#feeb61;
    background-color:transparent;
    border: 2px solid #feeb61;
}
.elementor-282 .elementor-element.elementor-element-52bdd9d:not(.elementor-motion-effects-element-type-background),.elementor-282 .elementor-element.elementor-element-52bdd9d>.elementor-motion-effects-container>.elementor-motion-effects-layer{
    background-color:#fff;
}
.elementor-282 .elementor-element.elementor-element-52bdd9d{
    transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;padding:6% 0 2%;
}
.elementor-282 .elementor-element.elementor-element-52bdd9d>.elementor-background-overlay{
    transition:background .3s,border-radius .3s,opacity .3s;
}
.elementor-282 .elementor-element.elementor-element-5334060>.elementor-element-populated{
    padding:0 22%;
}
.elementor-282 .elementor-element.elementor-element-4d9d089:not(.elementor-motion-effects-element-type-background),.elementor-282 .elementor-element.elementor-element-4d9d089>.elementor-motion-effects-container>.elementor-motion-effects-layer{
    background-color:#fff;
}
.elementor-282 .elementor-element.elementor-element-4d9d089{
    transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top:0;
    margin-bottom:0;
    padding:0;
}
.elementor-282 .elementor-element.elementor-element-4d9d089>.elementor-background-overlay{
    transition:background .3s,border-radius .3s,opacity .3s;
}
.elementor-bc-flex-widget .elementor-282 .elementor-element.elementor-element-a7812d3.elementor-column .elementor-column-wrap{
    align-items:center;
}.elementor-282 .elementor-element.elementor-element-a7812d3.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap{
    align-content:center;
    align-items:center;
}
.elementor-282 .elementor-element.elementor-element-a7812d3>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
    margin-bottom:10px;
}
.elementor-282 .elementor-element.elementor-element-a7812d3>.elementor-element-populated{
    margin:0;
}
.elementor-282 .elementor-element.elementor-element-90356ba{
    text-align:center;
}
.elementor-282 .elementor-element.elementor-element-90356ba .elementor-heading-title{
    color:#000;
    font-family:"Proxima Nova",Sans-serif;
    font-size:45px;font-weight:700;
    line-height:1.2em;
    letter-spacing:-1px;
}
.elementor-282 .elementor-element.elementor-element-90356ba>.elementor-widget-container{
    margin:0;
}
.elementor-282 .elementor-element.elementor-element-e927933{
    text-align:center;
}
.elementor-282 .elementor-element.elementor-element-e927933 .elementor-heading-title{
    color:#333f48;
    font-family:"Proxima Nova",Sans-serif;
    font-size:20px;
    font-weight:400;
    font-style:normal;
    line-height:1.4em;
}
.elementor-282 .elementor-element.elementor-element-e927933>.elementor-widget-container{
    margin:0;
    padding:0;
   
}
.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta__content{
    min-height:345px;
    text-align:left;
    padding:13% 10%;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta__bg-wrapper{
    min-height:220px;
}
.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta__title{
    font-family:"Proxima Nova",Sans-serif;
    font-size:18px;
    font-weight:600;
    color:#feeb61;
}
.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta__title:not(:last-child){
    margin-bottom:20px;
}
.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta__description{
    font-family:"Proxima Nova",Sans-serif;
    font-size:15px;
    line-height:1.6em;
    color:#fff;
}
.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta__description:not(:last-child){
    margin-bottom:30px;
}
.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta__button{
    color:#feeb61;
    border:2px solid #feeb61;
    font-family:"Proxima Nova",Sans-serif;
    font-size:12px;
    font-weight:700;
    letter-spacing:0px;
    background-color:transparent;
    /* border-width:0; */
    border-radius:5px;
}
.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta__button:hover{
    color:#feeb61;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta:hover .elementor-cta__bg-overlay{
    background-color:rgba(2,1,1,.08);
}
.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta .elementor-cta__bg,.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta .elementor-cta__bg-overlay{
    transition-duration:.4s;
}
.elementor-282 .elementor-element.elementor-element-93395ea:hover .elementor-widget-container{
    box-shadow:0px 0px 30px 0px rgba(53,64,79,.15);
}
.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta__content{
    min-height:345px;
    text-align:left;
    padding:13% 10%;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta__bg-wrapper{
    min-height:220px;
}
.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta__title{
    font-family:"Proxima Nova",Sans-serif;
    font-size:18px;
    font-weight:600;
    color:#feeb61;
}
.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta__title:not(:last-child){
    margin-bottom:20px;
}
.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta__description{
    font-family:"Proxima Nova",Sans-serif;
    font-size:15px;
    line-height:1.6em;
    color:#fff;
}
.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta__description:not(:last-child){
    margin-bottom:30px;
}
.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta__button{
    color:#feeb61;
    border-color:#feeb61;
    font-family:"Proxima Nova",Sans-serif;
    font-size:12px;
    font-weight:700;
    letter-spacing:0px;
    background-color:transparent;
    border-radius:5px;
}
.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta__button:hover{
    color:#feeb61;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta:hover .elementor-cta__bg-overlay{
    background-color:rgba(2,1,1,.08);
}
.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta .elementor-cta__bg,.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta .elementor-cta__bg-overlay{
    transition-duration:.4s;
}
.elementor-282 .elementor-element.elementor-element-2c1ca23:hover .elementor-widget-container{
    box-shadow:0px 0px 30px 0px rgba(53,64,79,.15);
}
.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta__content{
    min-height:345px;
    text-align:left;
    padding:13% 10%;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta__bg-wrapper{
    min-height:220px;
}
.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta__title{
    font-family:"Proxima Nova",Sans-serif;
    font-size:18px;
    font-weight:600;
    color:#feeb61;
}
.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta__title:not(:last-child){
    margin-bottom:20px;
}
.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta__description{
    font-family:"Proxima Nova",Sans-serif;
    font-size:15px;
    line-height:1.6em;
    color:#fff;
}
.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta__description:not(:last-child){
    margin-bottom:30px;
}
.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta__button{
    color:#feeb61;
    border-color:#feeb61;
    font-family:"Proxima Nova",Sans-serif;
    font-size:12px;
    font-weight:700;
    letter-spacing:0px;
    background-color:transparent;
    border-radius:5px;
}
.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta__button:hover{
    color:#feeb61;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta:hover .elementor-cta__bg-overlay{
    background-color:rgba(2,1,1,.08);
}
.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta .elementor-cta__bg,.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta .elementor-cta__bg-overlay{
    transition-duration:.4s;
}
.elementor-282 .elementor-element.elementor-element-63d86f2:hover .elementor-widget-container{
    box-shadow:0px 0px 30px 0px rgba(53,64,79,.15);
}
.elementor-282 .elementor-element.elementor-element-64ad443{
    margin-top:0;
    margin-bottom:60px;
}
.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta__content{
    min-height:345px;
    text-align:left;
    padding:13% 10%;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta__bg-wrapper{
    min-height:220px;
}
.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta__title{
    font-family:"Proxima Nova",Sans-serif;
    font-size:18px;
    font-weight:600;
    color:#feeb61;
}
.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta__title:not(:last-child){
    margin-bottom:20px;
}
.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta__description{
    font-family:"Proxima Nova",Sans-serif;
    font-size:15px;
    line-height:1.6em;
    color:#fff;
}
.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta__description:not(:last-child){
    margin-bottom:30px;
}
.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta__button{
    color:#feeb61;
    border-color:#feeb61;
    font-family:"Proxima Nova",Sans-serif;
    font-size:12px;
    font-weight:700;
    letter-spacing:0px;
    background-color:transparent;
    border-radius:5px;
}
.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta__button:hover{
    color:#feeb61;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta:hover .elementor-cta__bg-overlay{
    background-color:rgba(2,1,1,.08);
}
.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta .elementor-cta__bg,.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta .elementor-cta__bg-overlay{
    transition-duration:.4s;
}
.elementor-282 .elementor-element.elementor-element-643a1c4:hover .elementor-widget-container{
    box-shadow:0px 0px 30px 0px rgba(53,64,79,.15);
}
.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta__content{
    min-height:345px;
    text-align:left;
    padding:13% 10%;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta__bg-wrapper{
    min-height:220px;
}
.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta__title{
    font-family:"Proxima Nova",Sans-serif;
    font-size:18px;
    font-weight:600;
    color:#feeb61;
}
.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta__title:not(:last-child){
    margin-bottom:20px;
}
.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta__description{
    font-family:"Proxima Nova",Sans-serif;
    font-size:15px;
    line-height:1.6em;
    color:#fff;
}
.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta__description:not(:last-child){
    margin-bottom:30px;
}
.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta__button{
    color:#feeb61;
    border-color:#feeb61;
    font-family:"Proxima Nova",Sans-serif;
    font-size:12px;
    font-weight:700;
    letter-spacing:0px;
    background-color:transparent;
    border-radius:5px;
}
.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta__button:hover{
    color:#feeb61;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta:hover .elementor-cta__bg-overlay{
    background-color:rgba(2,1,1,.08);
}
.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta .elementor-cta__bg,.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta .elementor-cta__bg-overlay{
    transition-duration:.4s;
}
.elementor-282 .elementor-element.elementor-element-440da7e:hover .elementor-widget-container{
    box-shadow:0px 0px 30px 0px rgba(53,64,79,.15);
}
.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta__content{
    min-height:345px;
    text-align:left;
    padding:13% 10%;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta__bg-wrapper{
    min-height:220px;
}
.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta__title{
    font-family:"Proxima Nova",Sans-serif;
    font-size:18px;
    font-weight:600;
    color:#feeb61;
}
.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta__title:not(:last-child){
    margin-bottom:20px;
}
.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta__description{
    font-family:"Proxima Nova",Sans-serif;
    font-size:15px;
    line-height:1.6em;
    color:#fff;
}
.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta__description:not(:last-child){
    margin-bottom:30px;
}
.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta__button{
    color:#feeb61;
    border-color:#feeb61;
    font-family:"Proxima Nova",Sans-serif;
    font-size:12px;
    font-weight:700;
    letter-spacing:0px;
    background-color:transparent;
    border-radius:5px;
}
.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta__button:hover{
    color:#feeb61;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta:hover .elementor-cta__bg-overlay{
    background-color:rgba(2,1,1,.08)
}
.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta .elementor-cta__bg,.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta .elementor-cta__bg-overlay{
    transition-duration:.4s;
}
.elementor-282 .elementor-element.elementor-element-d8959d1:hover .elementor-widget-container{
    box-shadow:0px 0px 30px 0px rgba(53,64,79,.15);
}
.elementor-282 .elementor-element.elementor-element-b537e6c>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap{
    align-content:center;
    align-items:center;
}
.elementor-282 .elementor-element.elementor-element-b537e6c:not(.elementor-motion-effects-element-type-background),.elementor-282 .elementor-element.elementor-element-b537e6c>.elementor-motion-effects-container>.elementor-motion-effects-layer{
    background-color:#e6ecf2;
    background-image:url("https://img.freepik.com/free-photo/young-man-taxi-driver-with-gloves-sitting-driver-s-seat-car_289152-76.jpg?w=826");background-position:center left;
    background-repeat:no-repeat;
    background-size:cover;
}
.elementor-282 .elementor-element.elementor-element-b537e6c>.elementor-background-overlay{
    background-color:#000;
    opacity:.6;
    transition:background .3s,border-radius .3s,opacity .3s;
}
.elementor-282 .elementor-element.elementor-element-b537e6c{
    transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top:0;
    margin-bottom:0;
    padding:6% 0;
}
.elementor-282 .elementor-element.elementor-element-21d573d>.elementor-element-populated{
    margin:0 25% 0 0;
}
.elementor-282 .elementor-element.elementor-element-098824b{
    text-align:left;
}
.elementor-282 .elementor-element.elementor-element-098824b .elementor-heading-title{
    color:#fff;
    font-family:"Proxima Nova",Sans-serif;
    font-size:45px;
    font-weight:600;
    line-height:1.1em;
    letter-spacing:-.8px;
}
.elementor-282 .elementor-element.elementor-element-098824b>.elementor-widget-container{
    margin:0;
}
.elementor-282 .elementor-element.elementor-element-3bf6588 .elementor-heading-title{
    color:#e6ecf2;
    font-family:"Proxima Nova",Sans-serif;
    font-size:20px;
    font-weight:400;
    line-height:1.4em;
}
.elementor-282 .elementor-element.elementor-element-3bf6588>.elementor-widget-container{
    margin:0 0 3%;
}
.elementor-282 .elementor-element.elementor-element-3936d01 .elementor-button .elementor-align-icon-right{
    margin-left:0;
}
.elementor-282 .elementor-element.elementor-element-3936d01 .elementor-button .elementor-align-icon-left{
    margin-right:0;
}
.elementor-282 .elementor-element.elementor-element-3936d01 .elementor-button{
    font-family:"Libre Franklin",Sans-serif;
    font-size:12px;
    font-weight:700;
    letter-spacing:0px;
    fill:#fff;
    color:#fff;
    border: 2px solid #000;
    background-color:transparent;
    border-radius:5px;
    padding:15px 30px;
}
.elementor-282 .elementor-element.elementor-element-3936d01 .elementor-button:hover,.elementor-282 .elementor-element.elementor-element-3936d01 .elementor-button:focus{
    color:#feeb61;
    background-color:#000;
}
.elementor-282 .elementor-element.elementor-element-3936d01 .elementor-button:hover svg,.elementor-282 .elementor-element.elementor-element-3936d01 .elementor-button:focus svg{
    fill:#feeb61;
}
.elementor-282 .elementor-element.elementor-element-3936d01>.elementor-widget-container{
    padding:0;
}
.elementor-282 .elementor-element.elementor-element-3936d01{
    width:auto;
    max-width:auto;
}
.elementor-282 .elementor-element.elementor-element-6575cac>.elementor-element-populated{
    transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin:0;
}
.elementor-282 .elementor-element.elementor-element-6575cac>.elementor-element-populated>.elementor-background-overlay{
    transition:background .3s,border-radius .3s,opacity .3s;
}
.elementor-282 .elementor-element.elementor-element-b17983d>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap{
    align-content:center;
    align-items:center;
}
.elementor-282 .elementor-element.elementor-element-b17983d,.elementor-282 .elementor-element.elementor-element-b17983d>.elementor-background-overlay{
    border-radius:0;
}
.elementor-282 .elementor-element.elementor-element-b17983d{
    transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top:0;
    margin-bottom:0;
    z-index:0;
}
.elementor-282 .elementor-element.elementor-element-b17983d>.elementor-background-overlay{
    transition:background .3s,border-radius .3s,opacity .3s
}
.elementor-282 .elementor-element.elementor-element-9ee6e89:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,.elementor-282 .elementor-element.elementor-element-9ee6e89>.elementor-column-wrap>.elementor-motion-effects-container>
.elementor-motion-effects-layer{
    background-color:#000;
    border-radius: 1.8rem;
}
.elementor-282 .elementor-element.elementor-element-9ee6e89>.elementor-element-populated,.elementor-282 .elementor-element.elementor-element-9ee6e89>.elementor-element-populated>.elementor-background-overlay,.elementor-282 .elementor-element.elementor-element-9ee6e89>.elementor-background-slideshow{
    border-radius:0;
}
.elementor-282 .elementor-element.elementor-element-9ee6e89>.elementor-element-populated{
    box-shadow:0px 20px 50px 2px rgba(0,0,0,.1);
    transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding:15% 13%;
}
.elementor-282 .elementor-element.elementor-element-9ee6e89>.elementor-element-populated>.elementor-background-overlay{
    transition:background .3s,border-radius .3s,opacity .3s;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-group{
    padding-right:calc(15px/2);
    padding-left:calc(15px/2);
    margin-bottom:15px;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-form-fields-wrapper{
    margin-left:calc(-15px/2);
    margin-right:calc(-15px/2);
    margin-bottom:-15px;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-group.recaptcha_v3-bottomleft,.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-group.recaptcha_v3-bottomright{
    margin-bottom:0;
}
body.rtl .elementor-282 .elementor-element.elementor-element-4915b4c .elementor-labels-inline .elementor-field-group>label{
    padding-left:6px;
}
body:not(.rtl) .elementor-282 .elementor-element.elementor-element-4915b4c .elementor-labels-inline .elementor-field-group>label{
    padding-right:6px;
}
body .elementor-282 .elementor-element.elementor-element-4915b4c .elementor-labels-above .elementor-field-group>label{
    padding-bottom:6px;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-group>label,.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-subgroup label{
    color:#fff;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-group>label{
    font-family:"Inter",Sans-serif;
    font-size:10px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:1px;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-type-html{
    padding-bottom:0;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-group .elementor-field{
    color:rgba(0,16,33,.7);
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-group .elementor-field,.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-subgroup label{
    font-family:"Proxima Nova",Sans-serif;
    font-size:16px;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){
    background-color:#000;
    border-color:#feeb61;
    border-width:2px;
    color: white;
    border-radius:5px;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-group .elementor-select-wrapper select{
    background-color:#000;
    border:2px solid#feeb61;
    color: white;
    /* border-width:1px; */
    border-radius:5px;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-group .elementor-select-wrapper:before{
    color:#fff;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-button{
    font-family:"Proxima Nova",Sans-serif;
    font-size:13px;
    font-weight:600;
    border-radius:5px;
    padding:0;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .e-form__buttons__wrapper__button-next{
    background-color:#0c51a0;
    color:#fff;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-button[type=submit]{
    background-color:transparent;
    border: 2px solid #feeb61;
    color:#fff;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-button[type=submit] svg *{
    fill:#fff;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .e-form__buttons__wrapper__button-previous{
    color:#fff;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .e-form__buttons__wrapper__button-next:hover{
    background-color:#000;
    color:#feeb61;
    border: 2px solid #feeb61;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-button[type=submit]:hover{
    background-color:#000;
    color:#feeb61;
    border: 2px solid #feeb61;
}
.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-button[type=submit]:hover svg *{fill:#000}.elementor-282 .elementor-element.elementor-element-4915b4c .e-form__buttons__wrapper__button-previous:hover{color:#fff}.elementor-282 .elementor-element.elementor-element-4915b4c{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#fff;--e-form-steps-indicator-active-secondary-color:#fff;--e-form-steps-indicator-completed-secondary-color:#fff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px}.elementor-282 .elementor-element.elementor-element-4915b4c>.elementor-widget-container{margin:0}.elementor-282 .elementor-element.elementor-element-26045af>.elementor-container{min-height:300px}.elementor-282 .elementor-element.elementor-element-26045af>.elementor-container:after{content:"";min-height:inherit}.elementor-282 .elementor-element.elementor-element-26045af:not(.elementor-motion-effects-element-type-background),.elementor-282 .elementor-element.elementor-element-26045af>.elementor-motion-effects-container>.elementor-motion-effects-layer{background-color:#fff}.elementor-282 .elementor-element.elementor-element-26045af{transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;padding:2% 0}.elementor-282 .elementor-element.elementor-element-26045af>.elementor-background-overlay{transition:background .3s,border-radius .3s,opacity .3s}.elementor-bc-flex-widget .elementor-282 .elementor-element.elementor-element-c23aefe.elementor-column .elementor-column-wrap{align-items:center}.elementor-282 .elementor-element.elementor-element-c23aefe.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap{align-content:center;align-items:center}.elementor-282 .elementor-element.elementor-element-c23aefe>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px}.elementor-282 .elementor-element.elementor-element-c23aefe>.elementor-element-populated{border-style:solid;border-width:0;border-color:rgba(230,236,242,.52);transition:background .3s,border .3s,border-radius .3s,box-shadow .3s}.elementor-282 .elementor-element.elementor-element-c23aefe>.elementor-element-populated>.elementor-background-overlay{transition:background .3s,border-radius .3s,opacity .3s}.elementor-282 .elementor-element.elementor-element-26d46dd{text-align:center}.elementor-282 .elementor-element.elementor-element-26d46dd .elementor-heading-title{color:#000;font-family:"Proxima Nova",Sans-serif;font-size:45px;font-weight:700;line-height:1.2em;letter-spacing:-1px}.elementor-282 
.elementor-element.elementor-element-26d46dd>.elementor-widget-container{
    margin:0;
}
.elementor-282 .elementor-element.elementor-element-a2f454c{
    text-align:center;
}
.elementor-282 .elementor-element.elementor-element-a2f454c .elementor-heading-title{
    color:#333f48;
    font-family:"Proxima Nova",Sans-serif;
    font-size:20px;
    font-weight:400;
    font-style:normal;
    line-height:1.4em;
}
.elementor-282 .elementor-element.elementor-element-a2f454c>.elementor-widget-container{margin:0;padding:0 5%}.elementor-282 .elementor-element.elementor-element-34c87bc.elementor-column>.elementor-column-wrap>.elementor-widget-wrap{justify-content:center}.elementor-282 .elementor-element.elementor-element-b977317{text-align:left;width:auto;max-width:auto}.elementor-282 .elementor-element.elementor-element-b977317 .elementor-image img{width:160px}.elementor-282 .elementor-element.elementor-element-acead32{text-align:right;width:auto;max-width:auto}.elementor-282 .elementor-element.elementor-element-acead32 .elementor-image img{width:150px}.elementor-282 .elementor-element.elementor-element-acead32>.elementor-widget-container{margin:0 15px}.elementor-282 .elementor-element.elementor-element-fb78c16{text-align:right;width:auto;max-width:auto}.elementor-282 .elementor-element.elementor-element-fb78c16 .elementor-image img{width:150px}.elementor-282 .elementor-element.elementor-element-d618468>.elementor-element-populated{border-style:solid;border-width:0 0 0 1px;border-color:rgba(122,122,122,.23);transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;padding:30px 0 30px 30px}.elementor-282 .elementor-element.elementor-element-d618468>.elementor-element-populated>.elementor-background-overlay{transition:background .3s,border-radius .3s,opacity .3s}.elementor-282 .elementor-element.elementor-element-fc30a15{text-align:center}.elementor-282 .elementor-element.elementor-element-fc30a15 .elementor-image img{width:600px}body.elementor-page-282:not(.elementor-motion-effects-element-type-background),body.elementor-page-282>.elementor-motion-effects-container>.elementor-motion-effects-layer{background-color:#fff}@media(min-width:768px){.elementor-282 .elementor-element.elementor-element-21d573d{width:55.088%}.elementor-282 .elementor-element.elementor-element-6575cac{width:44.868%}}@media(max-width:1024px) and (min-width:768px){.elementor-282 .elementor-element.elementor-element-8bdf1dd{width:100%}.elementor-282 .elementor-element.elementor-element-a7812d3{width:100%}.elementor-282 .elementor-element.elementor-element-11b9093{width:100%}.elementor-282 .elementor-element.elementor-element-0ca4817{width:100%}.elementor-282 .elementor-element.elementor-element-16d1c01{width:100%}.elementor-282 .elementor-element.elementor-element-2795d12{width:100%}.elementor-282 .elementor-element.elementor-element-d271df2{width:100%}.elementor-282 .elementor-element.elementor-element-1201310{width:100%}.elementor-282 .elementor-element.elementor-element-21d573d{width:100%}.elementor-282 .elementor-element.elementor-element-6575cac{width:100%}.elementor-282 .elementor-element.elementor-element-c23aefe{width:100%}.elementor-282 .elementor-element.elementor-element-d618468{width:100%}}@media(min-width:1025px){.elementor-282 .elementor-element.elementor-element-b537e6c:not(.elementor-motion-effects-element-type-background),.elementor-282 .elementor-element.elementor-element-b537e6c>.elementor-motion-effects-container>.elementor-motion-effects-layer{background-attachment:fixed}}@media(max-width:1024px){.elementor-282 .elementor-element.elementor-element-1816184{margin-top:0;margin-bottom:0;padding:0}.elementor-282 .elementor-element.elementor-element-8bdf1dd>.elementor-element-populated{margin:0 0 5%;padding:0}.elementor-282 .elementor-element.elementor-element-afdd547 .swiper-slide{height:550px}.elementor-282 .elementor-element.elementor-element-afdd547 .swiper-slide-contents{max-width:80%}.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-slide-heading{font-size:36px}.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-slide-description{font-size:20px}.elementor-282 .elementor-element.elementor-element-52bdd9d{padding:0}.elementor-282 .elementor-element.elementor-element-5334060>.elementor-element-populated{padding:0}.elementor-282 .elementor-element.elementor-element-4d9d089{margin-top:0;margin-bottom:0;padding:0}.elementor-bc-flex-widget .elementor-282 .elementor-element.elementor-element-a7812d3.elementor-column .elementor-column-wrap{align-items:center}.elementor-282 .elementor-element.elementor-element-a7812d3.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap{align-content:center;align-items:center}.elementor-282 .elementor-element.elementor-element-a7812d3>.elementor-element-populated{margin:0 0 5%}.elementor-282 .elementor-element.elementor-element-90356ba{text-align:center}.elementor-282 .elementor-element.elementor-element-90356ba .elementor-heading-title{font-size:32px}.elementor-282 .elementor-element.elementor-element-90356ba>.elementor-widget-container{margin:0}.elementor-282 .elementor-element.elementor-element-e927933{text-align:center}.elementor-282 .elementor-element.elementor-element-e927933 .elementor-heading-title{font-size:16px}.elementor-282 .elementor-element.elementor-element-e927933>.elementor-widget-container{margin:0 20%}.elementor-282 .elementor-element.elementor-element-a79cd32{padding:0 3%}.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta__content{min-height:200px;padding:50px}.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta__content{min-height:200px;padding:50px}.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta__content{min-height:200px;padding:50px}.elementor-282 .elementor-element.elementor-element-64ad443{padding:0 3%}.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta__content{min-height:200px;padding:50px}.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta__content{min-height:200px;padding:50px}.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta__content{min-height:200px;padding:50px}.elementor-282 .elementor-element.elementor-element-b537e6c{padding:5%}.elementor-282 .elementor-element.elementor-element-21d573d.elementor-column>.elementor-column-wrap>.elementor-widget-wrap{justify-content:center}.elementor-282 .elementor-element.elementor-element-21d573d>.elementor-element-populated{margin:0 20%;padding:0 0 5%}.elementor-282 .elementor-element.elementor-element-098824b{text-align:center}.elementor-282 .elementor-element.elementor-element-098824b .elementor-heading-title{font-size:35px}.elementor-282 .elementor-element.elementor-element-098824b>.elementor-widget-container{margin:0}.elementor-282 .elementor-element.elementor-element-3bf6588{text-align:center}.elementor-282 .elementor-element.elementor-element-3bf6588 .elementor-heading-title{font-size:16px}.elementor-282 .elementor-element.elementor-element-3bf6588>.elementor-widget-container{margin:0 0 3%}.elementor-282 .elementor-element.elementor-element-b17983d{margin-top:0;margin-bottom:30px;padding:0}.elementor-282 .elementor-element.elementor-element-9ee6e89>.elementor-element-populated{padding:10%}.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-button{font-size:14px}.elementor-282 .elementor-element.elementor-element-4915b4c>.elementor-widget-container{margin:0}.elementor-282 .elementor-element.elementor-element-26045af{padding:7%}.elementor-282 .elementor-element.elementor-element-c23aefe>.elementor-element-populated{border-width:0 0 1px;padding:0 30px 30px 10px}.elementor-282 .elementor-element.elementor-element-c23aefe>.elementor-element-populated,.elementor-282 .elementor-element.elementor-element-c23aefe>.elementor-element-populated>.elementor-background-overlay,.elementor-282 .elementor-element.elementor-element-c23aefe>.elementor-background-slideshow{border-radius:0 0 1px}.elementor-282 .elementor-element.elementor-element-26d46dd{text-align:center}.elementor-282 .elementor-element.elementor-element-26d46dd .elementor-heading-title{font-size:30px}.elementor-282 .elementor-element.elementor-element-26d46dd>.elementor-widget-container{margin:0}.elementor-282 .elementor-element.elementor-element-a2f454c{text-align:center}.elementor-282 .elementor-element.elementor-element-a2f454c .elementor-heading-title{font-size:16px}.elementor-282 .elementor-element.elementor-element-a2f454c>.elementor-widget-container{margin:0 0 1%;padding:0}.elementor-282 .elementor-element.elementor-element-34c87bc>.elementor-element-populated{margin:0 10px 0 0;padding:0}.elementor-282 .elementor-element.elementor-element-d618468>.elementor-element-populated{border-width:0;padding:40px 0 0}.elementor-282 .elementor-element.elementor-element-fc30a15 .elementor-image img{width:100%}}@media(max-width:767px){.elementor-282 .elementor-element.elementor-element-1816184{padding:0}.elementor-282 .elementor-element.elementor-element-8bdf1dd>.elementor-element-populated{margin:0;padding:0}.elementor-282 .elementor-element.elementor-element-afdd547 .swiper-slide{height:500px}.elementor-282 .elementor-element.elementor-element-afdd547 .swiper-slide-contents{max-width:100%}.elementor-282 .elementor-element.elementor-element-afdd547 .swiper-slide-inner{padding:0 5% 10% 10%}.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-slide-heading{font-size:30px}.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-slide-description{font-size:18px}.elementor-282 .elementor-element.elementor-element-52bdd9d{padding:0}.elementor-282 .elementor-element.elementor-element-5334060>.elementor-element-populated{padding:20px 0 0}.elementor-282 .elementor-element.elementor-element-4d9d089{padding:7%}.elementor-282 .elementor-element.elementor-element-90356ba{text-align:center}.elementor-282 .elementor-element.elementor-element-90356ba .elementor-heading-title{font-size:25px;letter-spacing:-.5px}.elementor-282 .elementor-element.elementor-element-90356ba>.elementor-widget-container{margin:0 5%}.elementor-282 .elementor-element.elementor-element-e927933{text-align:center}.elementor-282 .elementor-element.elementor-element-e927933 .elementor-heading-title{font-size:14px}.elementor-282 .elementor-element.elementor-element-e927933>.elementor-widget-container{margin:0 0 3%}.elementor-282 .elementor-element.elementor-element-a79cd32{margin-top:0;margin-bottom:0;padding:0}.elementor-282 .elementor-element.elementor-element-11b9093>.elementor-element-populated{padding:0}.elementor-282 .elementor-element.elementor-element-93395ea .elementor-cta__content{padding:40px}.elementor-282 .elementor-element.elementor-element-0ca4817>.elementor-element-populated{padding:0}.elementor-282 .elementor-element.elementor-element-2c1ca23 .elementor-cta__content{padding:40px}.elementor-282 .elementor-element.elementor-element-16d1c01>.elementor-element-populated{padding:0}.elementor-282 .elementor-element.elementor-element-63d86f2 .elementor-cta__content{padding:40px}.elementor-282 .elementor-element.elementor-element-64ad443{margin-top:0;margin-bottom:0;padding:0}.elementor-282 .elementor-element.elementor-element-2795d12>.elementor-element-populated{padding:0}.elementor-282 .elementor-element.elementor-element-643a1c4 .elementor-cta__content{padding:40px}.elementor-282 .elementor-element.elementor-element-d271df2>.elementor-element-populated{padding:0}.elementor-282 .elementor-element.elementor-element-440da7e .elementor-cta__content{padding:40px}.elementor-282 .elementor-element.elementor-element-1201310>.elementor-element-populated{padding:0}.elementor-282 .elementor-element.elementor-element-d8959d1 .elementor-cta__content{padding:40px}.elementor-282 .elementor-element.elementor-element-b537e6c:not(.elementor-motion-effects-element-type-background),.elementor-282 .elementor-element.elementor-element-b537e6c>.elementor-motion-effects-container>.elementor-motion-effects-layer{background-position:center center;background-size:cover}.elementor-282 .elementor-element.elementor-element-b537e6c{margin-top:0;margin-bottom:0;padding:10% 5% 5%}.elementor-282 .elementor-element.elementor-element-21d573d.elementor-column>.elementor-column-wrap>.elementor-widget-wrap{justify-content:center}.elementor-282 .elementor-element.elementor-element-21d573d>.elementor-element-populated{margin:5%}.elementor-282 .elementor-element.elementor-element-098824b{text-align:center}.elementor-282 .elementor-element.elementor-element-098824b .elementor-heading-title{font-size:25px;letter-spacing:-.5px}.elementor-282 .elementor-element.elementor-element-098824b>.elementor-widget-container{margin:0 5%}.elementor-282 .elementor-element.elementor-element-3bf6588{text-align:center}.elementor-282 .elementor-element.elementor-element-3bf6588 .elementor-heading-title{font-size:15px}.elementor-282 .elementor-element.elementor-element-3bf6588>.elementor-widget-container{margin:0 0 3%}.elementor-282 .elementor-element.elementor-element-3936d01 .elementor-button{font-size:10px;padding:10px 30px}.elementor-282 .elementor-element.elementor-element-6575cac>.elementor-element-populated{margin:0}.elementor-282 .elementor-element.elementor-element-b17983d{margin-top:0;margin-bottom:30px;padding:0}.elementor-282 .elementor-element.elementor-element-9ee6e89>.elementor-element-populated{padding:13%}.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-group>label{font-size:12px}.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-group .elementor-field,.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-field-subgroup label{font-size:14px}.elementor-282 .elementor-element.elementor-element-4915b4c .elementor-button{font-size:12px}.elementor-282 .elementor-element.elementor-element-4915b4c>.elementor-widget-container{margin:0;padding:0}.elementor-282 .elementor-element.elementor-element-26045af>.elementor-container{min-height:250px}.elementor-282 .elementor-element.elementor-element-26045af>.elementor-container:after{content:"";min-height:inherit}.elementor-282 .elementor-element.elementor-element-26045af{padding:10% 7% 7%}.elementor-282 .elementor-element.elementor-element-c23aefe>.elementor-element-populated{margin:0;padding:0}.elementor-282 .elementor-element.elementor-element-26d46dd{text-align:center}.elementor-282 .elementor-element.elementor-element-26d46dd .elementor-heading-title{font-size:25px;letter-spacing:-.5px}.elementor-282 .elementor-element.elementor-element-26d46dd>.elementor-widget-container{margin:0 5%}.elementor-282 .elementor-element.elementor-element-a2f454c{text-align:center}.elementor-282 .elementor-element.elementor-element-a2f454c .elementor-heading-title{font-size:14px}.elementor-282 .elementor-element.elementor-element-a2f454c>.elementor-widget-container{margin:0 0 3%}.elementor-282 .elementor-element.elementor-element-34c87bc{width:100%}.elementor-282 .elementor-element.elementor-element-34c87bc.elementor-column>.elementor-column-wrap>.elementor-widget-wrap{justify-content:center}.elementor-282 .elementor-element.elementor-element-34c87bc>.elementor-element-populated{margin:0;padding:0 0 30px}.elementor-282 .elementor-element.elementor-element-b977317{text-align:center;width:100%;max-width:100%}.elementor-282 .elementor-element.elementor-element-b977317 .elementor-image img{width:120px}.elementor-282 .elementor-element.elementor-element-acead32{text-align:center;width:100%;max-width:100%}.elementor-282 .elementor-element.elementor-element-acead32 .elementor-image img{width:120px}.elementor-282 .elementor-element.elementor-element-acead32>.elementor-widget-container{margin:10px 0 0}.elementor-282 .elementor-element.elementor-element-fb78c16{text-align:center;width:100%;max-width:100%}.elementor-282 .elementor-element.elementor-element-fb78c16 .elementor-image img{width:120px}.elementor-282 .elementor-element.elementor-element-fb78c16>.elementor-widget-container{margin:10px 0 0}.elementor-282 .elementor-element.elementor-element-d618468>.elementor-element-populated{border-width:0;padding:30px 0 0}}@media (max-width:768px){.elementor-282 .elementor-element.elementor-element-afdd547 .elementor-swiper-button{display:none}}.elementor-swiper-button-next{font-size:20px;right:6%;background:#ffffff10;padding:20px;border-radius:100%}.elementor-swiper-button-prev{font-size:20px;left:6%;background:#ffffff10;padding:20px;border-radius:100%}.swiper-pagination-bullet{background:#fff}.elementor-27 .elementor-element.elementor-element-70cac2c0 .elementor-slide-button{padding:18px 40px}.elementor-button.elementor-size-md{padding:18px 40px}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:40px;left:0;width:100%}@font-face{font-family:'Proxima Nova';font-style:normal;font-weight:400;font-display:auto;src:url('https://fundquestnigeria.com/wp-content/uploads/2020/07/ProximaNova-Regular.ttf') format('truetype')}@font-face{font-family:'Proxima Nova';font-style:normal;font-weight:300;font-display:auto;src:url('https://fundquestnigeria.com/wp-content/uploads/2020/07/ProximaNovaT-Thin.ttf') format('truetype')}@font-face{font-family:'Proxima Nova';font-style:normal;font-weight:500;font-display:auto;src:url('https://fundquestnigeria.com/wp-content/uploads/2020/07/ProximaNova-Semibold.ttf') format('truetype')}@font-face{font-family:'Proxima Nova';font-style:normal;font-weight:700;font-display:auto;src:url('https://fundquestnigeria.com/wp-content/uploads/2020/07/ProximaNova-Bold.ttf') format('truetype')}